<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="classes">
  <test thread-count="5" name="Test1" parallel="classes">
    <classes>
       
       <class name="test.TestNG_Demo"/>
       <class name="test.TestNG_Demo2">
          <methods>
             <exclude name="googleSearch3"></exclude>
          </methods>
       </class>
   
    </classes>
  </test> 
</suite> 

